.books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(187, 187, 187);
}

.heading{
  margin: 2rem 0 0.5rem 0;
  font-size: 3rem;
  font-weight: 400;
}

.book-container{
  margin: 2rem auto;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.book-card-rg{
  margin: 1rem auto;
  width: 30%;
  min-width: 18rem;
  background: #eee;
  box-shadow: 0px 0px 3px #777;
  border-radius: 1rem;
  display: flex;
  transition: all .5s ease-in-out;
}

.book-card-rg:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #777;
  transition: All 0.5s;
  cursor: pointer;
}

.img{
  margin-right: 1rem;
  width: 40%;
}

.book-info{
  padding: .5rem;
}

.book-title{
  font-size: 1.5rem;
}

.author{
  font-size: 1rem;
}

.tags{
  display: flex;
  flex-wrap: wrap;
}

.tag{
  margin: 0.5rem .5rem 0 0;
  padding: .25rem .5rem;
  background: #f4f4f4;
  box-shadow: 0px 0px 3px #777;
  border-radius: 1rem;
  list-style: none;
}

.cat-container{
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 75%;
  transition: 0.6s;
  justify-content: center;
}

.cat-heading{
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}
.cat-container li {
  cursor: pointer;
}
nav ul {
  list-style-type: none;
  margin: 0.5rem 2rem 2rem 2rem;
  padding: 0;
}

nav ul li {
  --c: rgb(32, 122, 218);
  color: rgb(32, 122, 218);
  font-size: 16px;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 2.8rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.45s;
  margin: 1rem;
}

nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

nav ul li:hover {
  color: rgb(230, 224, 192);
  cursor: pointer;
}

nav ul li:hover span {
  transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
  --n: 1;
}

nav ul li span:nth-child(2) {
  --n: 2;
}

nav ul li span:nth-child(3) {
  --n: 3;
}

nav ul li span:nth-child(4) {
  --n: 4;
}