.contact{
  min-height: 100vh;
  width: 100%;
  background:
    linear-gradient(to bottom right, #3e678c 50%, transparent 50.5%) no-repeat bottom,
    linear-gradient(0deg, #53a2a5,#01567e) no-repeat top;
  color: white;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 15% 85% 79% 21% / 100% 4% 96% 0%;
}
.contact-container{
  width: 75%;
  border-radius: 1rem;
  padding: 20px 60px 30px 40px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1rem);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contact-container .contact-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-container .contact-content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.contact-content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.contact-content .left-side .details{
  margin: 14px;
  text-align: center;
}
.contact-content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.contact-content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.contact-content .left-side .details .text-one,
.contact-content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.contact-container .contact-content .right-side{
  width: 75%;
  margin-left: 75px;
}
.contact-content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
  font-family: Calibri;
}

.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}

@media (max-width: 950px) {
  .contact-container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .contact-container .contact-content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .contact-container{
    margin: 40px 0;
    height: 100%;
  }
  .contact-container .contact-content{
    flex-direction: column-reverse;
  }
 .contact-container .contact-content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .contact-container .contact-content .left-side::before{
   display: none;
 }
 .contact-container .contact-content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

/**
  .contact{
        
      background-color: #f6f5f4;
      height: 90vh;
      padding: 2rem;
    
  }
  
  .contact-heading{
      
      text-align: center;
      font-size: 3rem;
      font-weight: 400;
  }
  .contact-form{
  max-width: 62%;
  margin: 25px auto;
  }
  
  .contact-form-input{
  margin: 14px 0;
  padding: 5px 13px;
  width: 100%; 
  font-size: 1.2rem;
  border: 2px solid grey;
  border-radius: 6px;
  
  }
  .contact-btn {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color:#7892c2;
  border-radius:10px;
  border:1px solid #4e6096;
  display:flex;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:19px;
  padding:12px 37px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
  
  margin: auto;
  
  }
  .contact-btn:hover {
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color:#476e9e;
  }
  .contact-btn:active {
  position:relative;
  top:1px;
  }
**/
main {
  background: #f6f5f4;
  flex: 1;
  margin: 0;
  height: 11.5vh;
  position: relative;
  overflow: hidden;

}
.wave {
  position: absolute;
  bottom: -5%;
  left: 0;
  right: 0;
}
.wave:nth-of-type(1) {
  --speed: 30;
  --opacity: 0.3;
  --height: 12;
  --width: 400;
}
.wave:nth-of-type(2) {
  --speed: 45;
  --opacity: 0.6;
  --height: 10;
  --width: 300;
}
.wave:nth-of-type(3) {
  --speed: 15;
  --opacity: 1;
  --height: 6;
  --width: 200;
}

.wave {
  background-image: url(../assets/images/wave--infinite.svg);
  height: calc(var(--height, 0) * 1vh);
  width: calc(var(--width, 0) * 1vw);
  opacity: var(--opacity);
  -webkit-animation: wave calc(var(--speed, 0) * 1s) infinite linear;
          animation: wave calc(var(--speed, 0) * 1s) infinite linear;
}
@media (max-width: 480px) {
  .wave {
    height: calc(var(--height, 0) * 0.75vh);
  }
}
@-webkit-keyframes wave {
  to {
    transform: translate(-50%, 0);
  }
}
@keyframes wave {
  to {
    transform: translate(-50%, 0);
  }
}

footer{
  padding: 3rem 0;
  width: 100%;
  background-color: #002240;
  color: #fff;
}

.footer-container{
  margin: 0 auto;
  max-width: 100rem;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-about{
  margin: 1rem 0;
  width: 65%;
}

.footer-about-text{
  margin: 1rem 0;
}

.footer-links{
  margin: 1rem 0;
  width: 30%;
}

.footer-links-ul{
  margin: 1rem 0;
  list-style: none;
}

.footer-links-li{
  margin: 0.5rem;
}

.footer-links-a{
  color: #fff;
  text-decoration: none;
}

.footer-links-a:hover{
  color: goldenrod;
}

.footer-copyrights{
  margin: 1rem 0;
  width: 70%;
}

.footer-social-links{
  margin: 1rem 0;
  width: 30%;
  display: flex;
}

.footer-social-links .social-a{
  margin-right: 1rem; 
  color: #fff;
}

.footer-btn{
  padding: .25rem .5rem;
  border: 0;
  outline: 0;
  background: #fff;
  border-radius: 1rem;
  color: #002240;
  text-decoration: none; 
}
