

  .contact{
        
      background-color: #f6f5f4;
      height: 90vh;
      padding: 2rem;
    
  }
  
  .contact-heading{
      
      text-align: center;
      font-size: 3rem;
      font-weight: 400;
  }
  .contact-form{
  max-width: 62%;
  margin: 25px auto;
  }
  
  .contact-form-input{
  margin: 14px 0;
  padding: 5px 13px;
  width: 100%; 
  font-size: 1.2rem;
  border: 2px solid grey;
  border-radius: 6px;
  
  }
  .contact-btn {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color:#7892c2;
  border-radius:10px;
  border:1px solid #4e6096;
  display:flex;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:19px;
  padding:12px 37px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
  
  margin: auto;
  
  }
  .contact-btn:hover {
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color:#476e9e;
  }
  .contact-btn:active {
  position:relative;
  top:1px;
  }

main {
  background: #f6f5f4;
  flex: 1;
  margin: 0;
  height: 11.5vh;
  position: relative;
  overflow: hidden;

}
.wave {
  position: absolute;
  bottom: -5%;
  left: 0;
  right: 0;
}
.wave:nth-of-type(1) {
  --speed: 30;
  --opacity: 0.3;
  --height: 12;
  --width: 400;
}
.wave:nth-of-type(2) {
  --speed: 45;
  --opacity: 0.6;
  --height: 10;
  --width: 300;
}
.wave:nth-of-type(3) {
  --speed: 15;
  --opacity: 1;
  --height: 6;
  --width: 200;
}

.wave {
  background-image: url(../assets/images/wave--infinite.svg);
  height: calc(var(--height, 0) * 1vh);
  width: calc(var(--width, 0) * 1vw);
  opacity: var(--opacity);
  -webkit-animation: wave calc(var(--speed, 0) * 1s) infinite linear;
          animation: wave calc(var(--speed, 0) * 1s) infinite linear;
}
@media (max-width: 480px) {
  .wave {
    height: calc(var(--height, 0) * 0.75vh);
  }
}
@-webkit-keyframes wave {
  to {
    transform: translate(-50%, 0);
  }
}
@keyframes wave {
  to {
    transform: translate(-50%, 0);
  }
}

footer{
  padding: 3rem 0;
  width: 100%;
  background-color: #002240;
  color: #fff;
}

.footer-container{
  margin: 0 auto;
  max-width: 100rem;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-about{
  margin: 1rem 0;
  width: 65%;
}

.footer-about-text{
  margin: 1rem 0;
}

.footer-links{
  margin: 1rem 0;
  width: 30%;
}

.footer-links-ul{
  margin: 1rem 0;
  list-style: none;
}

.footer-links-li{
  margin: 0.5rem;
}

.footer-links-a{
  color: #fff;
  text-decoration: none;
}

.footer-links-a:hover{
  color: goldenrod;
}

.footer-copyrights{
  margin: 1rem 0;
  width: 70%;
}

.footer-social-links{
  margin: 1rem 0;
  width: 30%;
  display: flex;
}

.footer-social-links .social-a{
  margin-right: 1rem; 
  color: #fff;
}

.footer-btn{
  padding: .25rem .5rem;
  border: 0;
  outline: 0;
  background: #fff;
  border-radius: 1rem;
  color: #002240;
  text-decoration: none; 
}
