
  /* contact us */
  .contact{
        
      background-color: #f6f5f4;
      height: 90vh;
      padding: 2rem;
    
  }
  
  .contact-heading{
      
      text-align: center;
      font-size: 3rem;
      font-weight: 400;
  }
  .contact-form{
  max-width: 62%;
  margin: 25px auto;
  }
  
  .contact-form-input{
  margin: 14px 0;
  padding: 5px 13px;
  width: 100%; 
  font-size: 1.2rem;
  border: 2px solid grey;
  border-radius: 6px;
  
  }
  .contact-btn {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color:#7892c2;
  border-radius:10px;
  border:1px solid #4e6096;
  display:flex;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:19px;
  padding:12px 37px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
  
  margin: auto;
  
  }
  .contact-btn:hover {
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color:#476e9e;
  }
  .contact-btn:active {
  position:relative;
  top:1px;
  }
  /*footer*/
  footer{
    background-color: #002240;
    color: #fff;
    height: 40vh;
    display:flex;
    justify-content: center;
    font-family: "Poppins",  Sans-serif;
    /* border: 2px solid red; */
  }

  .footer-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 75%;
    padding: 30px;
  }
  
  .footer-top{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid red; */
    height: 80%;
    /* padding: 10px */
  }

  .footer-bottom{
   display:  flex;
   flex-direction: row;
   justify-content: space-between;
   /* border: 2px solid red; */
   width:100%;
   height: 20%;
   align-items: flex-end;
 }

.footer-top-left{
 /* border: 2px solid red; */
 width: 80%;
 height: 100%;
 display:flex;
 flex-direction: column;
 justify-content: space-between;
}



.footer-top-left p{
  font-size: 15px;
  line-height: 1.4rem;
  /* margin-bottom: 10px; */
}

.footer-button{
  width: 130px;
  height: 30px;
  border-radius: 15px;
  margin-bottom: 10px;
  border: 0;
  outline: 0;
}

.footer-button a{
  text-decoration: none; 
  color: #002240;
}

.footer-button a:hover{
  cursor: pointer;
  background-color: rgb(228, 228, 228);
}

.footer-top-right{
 /* border: 2px solid red; */
 width: 30%;
 height: 100%;
 font-size: 16px;
}
.footer-top-right h2{
  margin-bottom: 10px;
}

.footer-links-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 2px solid yellow; */
  height: 100%;
  padding-left: 130px;
  /* padding-right: 0px; */
}

.footer-links-container ul{
  list-style: none;
}

.footer-link{
  margin-top: 10px;
}
.footer-social-links .social-a{
  color: #fff;
  margin-left: 10px;
  
}
    main {
      background: #f6f5f4;
      flex: 1;
      margin: 0;
      height: 11.5vh;
      position: relative;
      overflow: hidden;

    }
    .wave {
      position: absolute;
      bottom: -5%;
      left: 0;
      right: 0;
    }
    .wave:nth-of-type(1) {
      --speed: 30;
      --opacity: 0.3;
      --height: 12;
      --width: 400;
    }
    .wave:nth-of-type(2) {
      --speed: 45;
      --opacity: 0.6;
      --height: 10;
      --width: 300;
    }
    .wave:nth-of-type(3) {
      --speed: 15;
      --opacity: 1;
      --height: 6;
      --width: 200;
    }

    .wave {
      background-image: url(../wave--infinite.svg);
      height: calc(var(--height, 0) * 1vh);
      width: calc(var(--width, 0) * 1vw);
      opacity: var(--opacity);
      -webkit-animation: wave calc(var(--speed, 0) * 1s) infinite linear;
              animation: wave calc(var(--speed, 0) * 1s) infinite linear;
    }
    @media (max-width: 480px) {
      .wave {
        height: calc(var(--height, 0) * 0.75vh);
      }
    }
    @-webkit-keyframes wave {
      to {
        transform: translate(-50%, 0);
      }
    }
    @keyframes wave {
      to {
        transform: translate(-50%, 0);
      }
    }
      
   
   
   
    
  footer{
    flex: 1;
  }